{% extends '../../base_components/main.html' %}
{% load static %}
{% block content %}
<div class="single">
    <div id="main">
        <article class="post">
            <section>
                <h3>Add New Course</h3>
                <form method="post" action="{% url 'add_course' %}">
                    {% csrf_token %}
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="courseSubject" id="courseSubject" value=""
                                placeholder="Course Subject (e.g. COMPSCI)" required />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="number" name="courseID" id="courseID" value="" placeholder="Course ID"
                                required />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="title" id="title" value="" placeholder="Course Title" required />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="instructor" id="instructor" value="" placeholder="Instructor"
                                required />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="number" name="credits" id="credits" value="" placeholder="Credits" required />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="schedule" id="schedule" value="" placeholder="Schedule" required />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="room" id="room" value="" placeholder="Room" required />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="instruction_mode" id="instruction_mode" value=""
                                placeholder="Instruction Mode" required />
                        </div>
                        <div class="col-12">
                            <textarea name="requirements" id="requirements" placeholder="Requirements" rows="3"
                                required></textarea>
                        </div>
                        <div class="col-12">
                            <textarea name="description" id="description" placeholder="Description" rows="6"
                                required></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Add Course" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </article>
        {% include '../../base_components/footer.html' %}
    </div>
</div>
{% endblock %}