{% extends '../../base_components/main.html' %}
{% load static %}
{% block content %}
<div class="single">

	<!-- Main -->
	<div id="main">
		<div style="margin-bottom: 20px; text-align: right;">
			<a href="{% url 'add_course' %}" class="button primary">Add New Course</a>
		</div>
		{% include 'pages/courses/course_search_form.html' %}
		{% if searched %}
		{% include './course_table1.html' %}
		{% endif %}
		<!-- Post -->
		{% include './course_box.html' %}
		{% include './course_box.html' %}


		<!-- Pagination -->
		{% include '../../components/pagination.html' %}
		<!-- table1 -->
		{% include './course_table1.html' %}
		<!-- Form -->
		{% include './course_form.html' %}
		<!-- list -->
		{% include './course_list.html' %}

		<!-- footer -->
		{% include '../../base_components/footer.html' %}

	</div>


</div>


{% endblock %}