{% load static %}
<!-- discussion post form -->

<article class="post">
    <section>
        <h3>Post a Discussion</h3>
        <form method="post" action="{% url 'discussion_create' %}">
            {% csrf_token %}
            <div class="row gtr-uniform">
                <!-- Author & Title-->
                <div class="col-6 col-12-xsmall">

                    <input type="hidden" name="author" id="id_author" value="{{ authen.user_id }}"
                        placeholder="Your name" readonly required />

                </div>
                <div class="col-12 col-12-xsmall">
                    <input type="text" name="title" id="id_title" value="" placeholder="Discussion title" required />
                </div>



                <!-- body -->
                <div class="col-12">
                    <textarea name="body" id="id_body" placeholder="Write your question or discussion here..." rows="6"
                        required></textarea>
                </div>

                <!-- button -->
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Post Discussion" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</article>