{% extends '../../base_components/main.html' %}
{% load static %}
{% block content %}

<div class="single">

	<!-- Main -->
	<div id="main">
		<!-- list -->
		{% include './discussion_list.html' %}
		<!-- Form -->
		{% include './discussion_form.html' %}

		<!-- Post -->
		{% include './discussion_box.html' %}
		{% include './discussion_box.html' %}



		<!-- Pagination -->
		{% include '../../components/pagination.html' %}
		<!-- table1 -->
		{% include './discussion_table1.html' %}


		<!-- footer -->
		{% include '../../base_components/footer.html' %}

	</div>


</div>


{% endblock %}