{% load static %}
<!-- Main -->
<div id="main">
  <!-- Post -->
  <article class="post">
    <header>
      <div class="title">
        <h2><a href="events">Top Events Today</a></h2>
        <p>Events, Meeting, and Posts By Students Recently</p>
      </div>
    </header>

    <div id="event-container" hx-get="/events/page/1/" hx-trigger="load" hx-target="#event-container" hx-swap="innerHTML"></div>

    <!-- Page Button -->
    <div id="event-pagination" style="text-align:center; margin-top:20px;">
      <button id="prev-btn" disabled>Previous</button>
      <button id="next-btn">Next</button>
    </div>
  </article>

  <article class="post">
    <header>
      <div class="title">
        <h2><a href="events">Discussion & Topics</a></h2>
        <p>Recent Updates Discussions and Topics by Students</p>
      </div>
    </header>

    {% include '../discussions/discussion_list.html' %}

    <!-- Load the box component -->
    {# {% include './box.html' %} #}
  </article>

  <!-- Pagination -->
  {# {% include '../../components/pagination.html' %} #}

  {# <button hx-get="/home/get/" hx-target="#item-list" hx-swap="outerHTML">Load Items</button> #}
  {# <div id="item-list"></div> #}
</div>

<script>
  function updateEventPageButtons() {
    const info = document.querySelector('#event-page-info')
  
    if (!info) return
  
    let currentPage = parseInt(info.dataset.currentPage)
    let totalPages = parseInt(info.dataset.totalPages)
  
    document.getElementById('prev-btn').disabled = currentPage <= 1
    document.getElementById('next-btn').disabled = currentPage >= totalPages
  }
  
  // Next page
  document.getElementById('next-btn').addEventListener('click', function () {
    const info = document.querySelector('#event-page-info')
    let currentPage = parseInt(info.dataset.currentPage)
    let totalPages = parseInt(info.dataset.totalPages)
  
    if (currentPage < totalPages) {
      htmx.ajax('GET', `/events/page/${currentPage + 1}/`, '#event-container').then(updateEventPageButtons)
    }
  })
  
  // Previous page
  document.getElementById('prev-btn').addEventListener('click', function () {
    const info = document.querySelector('#event-page-info')
    let currentPage = parseInt(info.dataset.currentPage)
  
    if (currentPage > 1) {
      htmx.ajax('GET', `/events/page/${currentPage - 1}/`, '#event-container').then(updateEventPageButtons)
    }
  })
  
  document.addEventListener('DOMContentLoaded', updateEventPageButtons)
</script>
