{% load static %}

<!-- Sidebar -->
<section id="sidebar">
  <!-- Intro -->
  <section id="intro">
    <a href="#" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
    <header>
      <h2>Academic Ultimate Map</h2>
      <p>Ultimate Map for Academic Strategy & Success (UMASS)</p>
    </header>
  </section>

  <!-- Mini Posts -->
  <!--  
<section>
    <div class="mini-posts">
        <h3>Top Courses</h3>
        
        {% if courses %}
            {% for course in courses %}
                {% include './box_mini.html' %} 
            {% endfor %}
        {% else %}
            <p>No courses available.</p>
        {% endif %}

        <ul class="actions">
      <li>
        <a href="{% url 'courses' %} " class="button">Learn More</a>
      </li>
    </ul>
    </div>
</section>
  -->

  <!-- Posts List -->
  <!--       <section>
                    <ul class="posts">
                        <h3>Top Professors</h3>
                        {% for post in posts %}
                       
                        {% include './box_list_element.html' with post=post %} 
                        {% endfor %}
                       
                    </ul>
                </section>
               -->

  <!-- About -->
  <section class="blurb">
    <h2>About</h2>
    <p>Ultimate Map for Academic Strategy & Success (UMASS) is a comprehensive web platform designed to help university students thrive academically and prepare for their future careers. Students search for information which comes from the office or students may share resources, access course information, evaluate professors, collaborate with peers, and strategize their academic journey.</p>
    <!-- <ul class="actions">
      <li>
        <a href="#" class="button">Learn More</a>
      </li>
    </ul>
   -->
  </section>

  {% include '../../base_components/footer.html' %}
</section>
