{% load static %}
<!-- table1 -->

{% if authen.role == 'ADMIN' %}
  <article class="post">
    <section>
      <h3>My Courses Lists</h3>
      {% if courses %}
        <p>
          Showing {{ courses|length }} course{% if courses|length != 1 %}s{% endif %}.
        </p>

        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Course ID</th>
                <th>Schedule</th>
                <th>Room</th>
                <th>Requirements</th>
                <th>Description</th>
                <th>Instructor</th>
                <th>Instruction Mode</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                  <td>{{ course.title }}</td>
                  <td>{{ course.courseSubject }} {{ course.courseID }}</td>
                  <td>{{ course.schedule }}</td>
                  <td>{{ course.room }}</td>
                  <td>{{ course.requirements }}</td>
                  <td>{{ course.description|truncatewords:20 }}</td>
                  <td>{{ course.instructor }}</td>
                  <td>{{ course.instruction_mode }}</td>
                  <td>
                    <a href="">edit</a>
                    <a href="">remove</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>No courses found.</p>
      {% endif %}
    </section>
  </article>
{% elif authen.role == 'STUDENT' %}
<p>i am student</p>
{% endif %}
