{% load static %}
<!-- table1 -->

<article class="post">
  {{courses}}
  {% if authen.role == 'ADMIN' %}
    <section>
      <h3>My Courses Lists</h3>
      {% if courses %}
        <p>
          Showing {{ courses|length }} course{% if courses|length != 1 %}s{% endif %}.
        </p>

        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Course ID</th>
                <th>Schedule</th>
                <th>Room</th>
                <th>Requirements</th>
                <th>Description</th>
                <th>Instructor</th>
                <th>Instruction Mode</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                  <td>{{ course.title }}</td>
                  <td>{{ course.courseSubject }} {{ course.courseID }}</td>
                  <td>{{ course.schedule }}</td>
                  <td>{{ course.room }}</td>
                  <td>{{ course.requirements }}</td>
                  <td>{{ course.description|truncatewords:20 }}</td>
                  <td>{{ course.instructor }}</td>
                  <td>{{ course.instruction_mode }}</td>
                  <td>
                    <a href="">edit</a>
                    <a href="">remove</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>No courses found.</p>
      {% endif %}
    </section>
    <hr style="border-top: 1px dashed rgba(160,160,160,0.3); margin: 2em 0;" />
  {% endif %}
  <section>
    <h3>My Courses Reviews Lists</h3>
    {% if coursesReviews %}
      <p>
        Showing {{ coursesReviews|length }} courses reviews{% if coursesReviews|length != 1 %}s{% endif %}.
      </p>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Professor Name</th>
              <th>Comment</th>
              <th>Rating</th>
              <th>Author</th>
              <th>Create Time</th>
            </tr>
          </thead>
          <tbody>
            {% for professorsReview in professorsReviews %}
              <tr>
                <td>{{ professorsReview.professor_name }}</td>
                <td>{{ professorsReview.comment }}</td>
                <td>{{ professorsReview.rating }}</td>
                <td>{{ professorsReview.author }}</td>
                <td>{{ professorsReview.created_at }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>No professors reviews found.</p>
    {% endif %}
  </section>
</article>
