{% load static %}
<!-- table1 -->

<article class="post">
  <section>
    <h3>My Events Lists</h3>
    {% if events %}
      <p>
        Showing {{ events|length }} event{% if events|length != 1 %}s{% endif %}.
      </p>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Location</th>
              <th>Capacity</th>
              <th>Hosted By</th>
              <th>Event Start Date</th>
              <th>Event End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for e in events %}
              <tr>
                <td>{{ e.title }}</td>
                <td>{{ e.description }}</td>
                <td>{{ e.location }}</td>
                <td>{{ e.capacity }}</td>
                <td>{{ e.hosted_by }}</td>
                <td>{{ e.event_start_date|date:"Y-m-d H:i" }}</td>
                <td>{{ e.event_end_date|date:"Y-m-d H:i" }}</td>
                <td>
                  <a href="{% url 'getEventByID' e.eventID %}">more detail</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>No events found.</p>
    {% endif %}
  </section>
</article>
