{% extends '../../base_components/main.html' %}
{% load static %}
{% block content %}

<div class="single">

	<!-- Main -->
	<div id="main">

		<!-- Post -->



		{% include './myworkplace_box.html' %}

		<!-- table1 -->
		{% include './events_table.html' %}
		{% include './discussions_table.html' %}
		{% include './courses_table.html' %}
		{% include './professors_table.html' %}

		<!-- footer -->
		{% include '../../base_components/footer.html' %}

	</div>


</div>


{% endblock %}