{% load static %}
<!-- Post -->
<article class="post">
	<header>
		<div class="title">
			<h2><a href="#">My Information</a></h2>
			<p>Information Detial</p>
		</div>
		<div class="meta">
			<time class="published" datetime="{% now 'Y-m-d' %}">{% now "F j, Y" %}</time>
			<a href="#" class="author"><span class="name">{{authen.user_email}}</span><img
					src="{% static 'images/avatar.jpg' %}" alt="" /></a>
		</div>
	</header>
	<!-- <span class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span> -->
	<p>My email: {{authen.user_email}}</p>
	<p>Role: {{authen.role}}</p>
	<footer>
		<ul class="stats">
			<li><a href="#">General</a></li>
			<li><a href="#" class="icon solid fa-heart">28</a></li>
			<li><a href="#" class="icon solid fa-comment">128</a></li>
		</ul>
	</footer>
</article>