<!-- Header -->
<header id="header">
	<h1><a href="{% url 'index' %}">Dashboard</a></h1>
	<nav class="links">
		<ul>
			<li><a href="{% url 'events' %}">Events</a></li>
			<li><a href="{% url 'discussions' %}">Discussions</a></li>
			<li><a href="{% url 'courses' %}">Courses</a></li>
			<li><a href="{% url 'professors' %}">Professors</a></li>
			{% if authen.is_login %}
			<li><a href="{% url 'myworkplace' %}">My Workplace</a></li>
			{% endif %}
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<!-- <li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li> -->
			<li class="menu">
				<a class="fa-bars" href="#menu">Menu</a>
			</li>
		</ul>
	</nav>
</header>

<!-- Menu -->
<section id="menu">

	<!-- Search -->
	<!-- <section>
		<form class="search" method="get" action="#">
			<input type="text" name="query" placeholder="Search" />
		</form>
	</section> -->

	<!-- Links -->
	<!-- <section>
		<ul class="links">
			<li>
				<a href="#">
					<h3>Lorem ipsum</h3>
					<p>Feugiat tempus veroeros dolor</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Dolor sit amet</h3>
					<p>Sed vitae justo condimentum</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Feugiat veroeros</h3>
					<p>Phasellus sed ultricies mi congue</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Etiam sed consequat</h3>
					<p>Porta lectus amet ultricies</p>
				</a>
			</li>
		</ul>
	</section> -->


	<!-- Actions -->
	{% if authen.is_login %}
	<section>


		<h3>Welcom Back!</h3>
		<p>User Email: {{authen.user_email}}</p>
		<p>Role: {{authen.role}}</p>
		<p>ID: {{authen.user_id}}</p>



	</section>
	<section>
		<ul class="actions stacked">
			<li><a href="{% url 'logout' %}" class="button large fit">Log Out</a></li>
		</ul>
	</section>
	{% endif %}
	{% if not authen.is_login %}
	<section>


		<h3>Welcom To Log In or Sign Up</h3>



	</section>
	<section>
		<ul class="actions stacked">
			<li><a href="{% url 'login' %}" class="button large fit">Log In</a></li>
		</ul>
	</section>
	<section>
		<ul class="actions stacked">
			<li><a href="{% url 'register' %}" class="button large fit">Sign Up</a></li>
		</ul>
	</section>
	{% endif %}
</section>